.hours-card {
  width: 300px;

  .ant-card-body {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  .hours-card__info {
    flex: 1;
  }

  .project-title {
    font-size: 12px;
  }

  .task-title {
    font-weight: bold;
    font-size: 12px;
  }

  .description {
    font-size: 11px;
  }

  .time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
  }

  .time {
    font-size: 11px;
  }

  .play-stop-button {
    display: none;
    position: absolute;
    right: 8px;
  }

  &:hover .play-stop-button {
    display: inline-flex;
  }
}
