.hours-card {
  width: 300px;
}

.hours-card .ant-card-body {
  display: flex;
  flex-direction: row;
}

.hours-card__info {
  flex: 1;
}

.hours-card__button {
  display: none;
}

.hours-card:hover .hours-card__button {
  display: inline-flex;
}

.anticon.hours-card__icon {
  color: white;
}
