@font-face {
  font-family: 'Material Icons';
  src: url('~material-icons/iconfont/material-icons.woff2') format('woff2'),
    url('~material-icons/iconfont/material-icons.woff2') format('woff');
}

@import '~material-icons/css/material-icons.min.css';

#root {
  display: flex;
  flex: 1;
  height: 100%;
}

.ant-layout-header {
  display: flex;
  align-items: center;
}
