.hours-by-task {
  width: 100%;
}

.hours-by-task .label {
  margin-left: 8px;
}

.hours-item .ant-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.space {
  flex: 1;
}

.hours-range {
  font-size: 10px;
}

.duration {
  font-size: 11px;
  font-weight: bold;
}
